imagecodecs==2023.1.23
beautifulsoup4==4.12.2
bs4==0.0.1
dnspython==2.3.0
elementpath==4.1.2
email-validator==2.0.0.post2
idna==3.4
lxml==4.9.2
numpy==1.24.3
ome-types==0.3.4
pandas==2.0.1
Pint==0.22
pydantic==1.10.8
python-dateutil==2.8.2
pytz==2023.3
six==1.16.0
soupsieve==2.4.1
tifffile==2023.4.12
typing_extensions==4.6.2
tzdata==2023.3
xmlschema==2.3.0

